.input-group-prepend > span{
    background-color: #78201f;
    border: #78201f;
    color:black
}
.input-group .input-usuario{
    border: #78201f 2px solid;
    color: black;
}
.btn-primary{
    background-color: #78201f!important;
    border-color: #78201f!important;
    color: white
}
.btn-primary:active, .btn-primary:hover{
    background-color: #b33838!important;
    border-color: #b33838!important;
}

h3{
    z-index: 1;
}

footer{
    width: 90%;
    left: 5%!important;
    background-color: #78201f;
    color:white;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
footer p{
    margin: 0;
    padding: 0;
}

.return{
    background-color: #78201f;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    transition: all .75s ease;
}
a{
    text-decoration: none!important;
}
a:hover .return{
    background-color: #b33838;
}

@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    .main{
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
        background-image:url('../img/background-2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        /* filter:brightness(0.3); */
    }
    .main::before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.6);
    }

    .container{
        height: 100%;
    }
    
    .return{
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
    h3{
        font-size: 20px!important;
    }
    .logo-mobile{
        width: 200px!important;
    }
}
@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    .main{
        width: 100%;
        height: 100vh;
        background-color: black;
    }
}
@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
    .main{
        width: 50%;
        height: 100vh;
        background-color: black;
    }
    .logo-mitad{
        width: 50%;
        height: 100vh;
        background-color: white;
        z-index: 1;
    }
}
@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .main{
        width: 100%;
        height: 100vh;
        background-color: aliceblue;
    }
}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    .main{
        width: 100%;
        height: 100vh;
        background-color: cornflowerblue;
    }
}
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */ 
    .main{
        width: 100%;
        height: 100vh;
        background-color: darkolivegreen;
    }
}